.container {
  width: 80%;
  margin-top: 35px;
}

.col1 {
  display: flex;
  flex-direction: column;
}

.pageLink {
  margin-bottom: 5px !important;
  display: block;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 15px;
  color: #3B82F6 !important;
  font-weight: bold;
  border-color: #3B82F6;
}

.pageLink:hover {
  background-color: #3B82F6;
  color: white !important;
}