.form {
  width: 100%;
  display: flex;
  padding: 0px 0px !important;
}

.form input {
  margin: 0 !important;
}

.input {
  flex-grow: 1;
  padding: 13.5px 12px;
  border: 2px solid;
  border-radius: 3px;
  border-color: #fff;
  font-weight: 300;
  font-size: 18px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 16px;
}

.button {
  color: white;
  font-size: 14px;
  min-width: 120px;
  background-color: #1c80cf;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 16px;
}
